<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <script>
      function validateEmail(email) {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
          console.log(true);
          return true;
        }
        console.log(false);
        return false;
      }
      function getCookie(name) {
        const cookieValue = document.cookie.match(
          "(^|;)\\s*" + name + "\\s*=\\s*([^;]+)"
        );
        return cookieValue ? cookieValue.pop() : "";
      }
      async function handleClick(id) {
        var token = getCookie("csrftoken");
        await fetch("http://127.0.0.1:8000/delete", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": token,
          },
          body: JSON.stringify({ id: id }),
        }).then(res => location.reload());
      }

      async function handleEdit(id) {
        var token = getCookie("csrftoken");
        await fetch("http://127.0.0.1:8000/edit?id=" + id, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": token,
          },
        });
      }
    </script>
  </head>
  <body>
    <div class="max-w-md mx-auto py-8 px-4">
      <h2 class="text-3xl font-bold mb-6 text-center">Add Patient</h2>
      <form
        class="bg-white border-2 rounded-lg px-8 pt-6 pb-8 mb-4"
        method="post"
        action=""
      >
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
            >Name</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="name"
            name="uname"
            type="text"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="age"
            >Age</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="age"
            name="uage"
            type="number"
            placeholder="Enter your age"
          />
        </div>
        <div class="flex items-center justify-center">
          <button
            class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <div class="max-w-2xl mx-auto py-8 px-4">
      <h2 class="text-3xl font-bold mb-6 text-center">All Patients</h2>
      <table class="min-w-full bg-white border border-gray-300">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b text-center">ID</th>
            <th class="py-2 px-4 border-b text-center">Age</th>
            <th class="py-2 px-4 border-b text-center">Name</th>
            <th class="py-2 px-4 border-b text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for p in count %}
          <tr>
            <td class="py-2 px-4 border-b text-center">{{ p.id }}</td>
            <td class="py-2 px-4 border-b text-center">{{ p.age }}</td>
            <td class="py-2 px-4 border-b text-center">{{ p.name }}</td>
            <td class="py-2 px-4 border-b text-center">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline mr-2"
                type="button"
              >
                <a href="http://127.0.0.1:8000/edit?id={{ p.id }}">Edit</a>
              </button>
              <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                onclick="handleClick('{{ p.id }}')"
                type="button"
              >
                Delete
              </button>
            </td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </body>
</html>
