<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit</title>
  </head>
  <body class="bg-gray-100">
    <div class="max-w-md mx-auto py-8 px-4 ">
      <h2 class="text-3xl font-bold mb-6 text-center">Edit Patient</h2>
      <form
        id="editForm"
        class="bg-white border border-black rounded-lg px-8 pt-6 pb-8 mb-4"
        method="post"
        action=""
      >
        {% csrf_token %}
        <div class="mb-4">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
            >Name</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="name"
            name="uname"
            value="{{ data.name }}"
            type="text"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="age"
            >Age</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="age"
            name="uage"
            type="number"
            placeholder="Enter your age"
            value="{{data.age}}"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="symp"
            >Symptoms</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="symp"
            name="symp"
            type="text"
            placeholder="Enter symptoms"
            value="{{data.symptoms}}"
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="desc"
            >Descriptions</label
          >
          <input
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700"
            id="desc"
            name="desc"
            type="text"
            placeholder="Enter Descriptions"
            value="{{data.description}}"
          />
        </div>

        <div class="flex gap-2 items-center justify-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded w-full"
            type="submit"
          >
            Submit
          </button>
          <a href="http://127.0.0.1:8000/add" class="w-full">
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold  rounded w-full"
              type="button"
              onclick="handleClick('{{ data.id }}')"
            >
              Delete
            </button>
          </a>
        </div>
        
      </form>
    </div>
  </body>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
    
    
    function getCookie(name) {
      const cookieValue = document.cookie.match(
        "(^|;)\\s*" + name + "\\s*=\\s*([^;]+)"
      );
      return cookieValue ? cookieValue.pop() : "";
    }
    async function handleClick(id) {
      
      await fetch("http://127.0.0.1:8000/delete", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": getCookie("csrftoken"),
        },
        body: JSON.stringify({ id }),
      })
    }
    // .then((res) => location.reload());
  </script>
</html>
